<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duplicar anjeo pesado</title>
    <meta name="description" content="Duplicar anjeo pesado">
    <link rel="stylesheet" href="/styles/editFormheavy.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="header">
                <div class="orderInfo">
                    <table class="orderTable">
                        <thead>
                            <tr>
                                <th class="orderTitle">Pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="orderID"><%= orderNumber %></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="anjeoType">Duplicar anjeo pesado</h2>
            </section>
            <form class="form" action="/api/v1/orderActions/duplicate/heavy/insert/<%= anjeoToDuplicate.anjeoHeavyID %>" method="POST" onsubmit="return validateFormValues()">
                <div class="fieldContainer">
                    <h3 class="fieldName">Seleccionar color</h3>
                    <select class="input" name="color" id="color" required>
                      <option value="<%= anjeoToDuplicate.color %>" selected><%= anjeoToDuplicate.color %></option>
                      <option value="Analog">Anolog</option>
                      <option value="Blanco">Blanco</option>
                      <option value="Champaña">Champaña</option>
                      <option value="Natural">Natural</option>
                      <option value="Negro">Negro</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Seleccionar perfil</h3>
                    <select class="input" name="perfil" id="perfil" required>
                      <option value="<%= anjeoToDuplicate.profileType %>" selected><%= anjeoToDuplicate.profileType %></option>
                      <option value="Cuatro naves">Cuatro naves</option>
                      <option value="Doble">Doble</option>
                      <option value="Sencillo">Sencillo</option>
                      <option value="Tres naves">Tres naves</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Seleccionar tipo de apertura</h3>
                    <select class="input" name="apertura" id="apertura" required>
                      <option value="<%= anjeoToDuplicate.opening %>" selected><%= anjeoToDuplicate.opening %></option>
                      <option value="Cierre al centro">Cierre al centro</option>
                      <option value="Fijo">Fijo</option>
                      <option value="Lateral">Lateral</option>
                      <option value="Uno hala otro">Uno hala otro</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Lugar</h3>
                    <input class="input" name="lugar" id="lugar" type="text" value="<%= anjeoToDuplicate.place %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Ancho</h3>
                    <input class="input" name="ancho" id="ancho" type="text" value="<%= anjeoToDuplicate.width %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura</h3>
                    <input class="input" name="altura" id="altura" type="text" value="<%= anjeoToDuplicate.height %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Cabezal</h3>
                    <input class="input" name="cabezal" id="cabezal" type="number" min="1" max="10" value="<%= anjeoToDuplicate.head %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Adaptador</h3>
                    <input class="input" name="adaptador" id="adaptador" type="number" min="1" max="10" value="<%= anjeoToDuplicate.adaptador %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Perfil superior</h3>
                    <input class="input" name="perfilSuperior" id="perfilSuperior" type="text" value="<%= anjeoToDuplicate.topProfile %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Instalación</h3>
                    <select class="input" name="instalacion" id="instalacion" required>
                      <option value="<%= anjeoToDuplicate.installation %>" selected><%= anjeoToDuplicate.installation %></option>
                      <option value="Externa">Externa</option>
                      <option value="Interna">Interna</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura divisor</h3>
                    <input class="input" name="alturaDivisor" id="alturaDivisor" type="text" value="<%= anjeoToDuplicate.divisorHigh %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Tipo de manija</h3>
                    <select class="input" name="manija" id="manija" required>
                      <option value="<%= anjeoToDuplicate.typeHandle %>" selected><%= anjeoToDuplicate.typeHandle %></option>
                      <option value="Cubeta anjeo">Cubeta anjeo</option>
                      <option value="Ducha">Ducha</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Lado de apertura</h3>
                    <select class="input" name="lado" id="lado" required>
                      <option value="<%= anjeoToDuplicate.openDirection %>" selected><%= anjeoToDuplicate.openDirection %></option>
                      <option value="Derecha">Derecha</option>
                      <option value="Fija">Fija</option>
                      <option value="Izquierda">Izquierda</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Notas</h3>
                    <input class="input" name="notas" id="notas" type="text" value="<%= anjeoToDuplicate.notes %>">
                </div>
                <section class="optionsContainer">
                  <section class="errorContainer" id="errorContainer">
                      <div class="wrongData" id="wrongaData">Datos incorrectos, por favor verifiquelos e inténtelo de nuevo</div>
                  </section>
                  <section class="bottonContainer">
                      <button class="botton" data-path="/api/v1/orderActions/" onclick="redirect(this)">Regresar</button>
                      <button type="submit" class="botton">Guardar</button>
                  </section>
              </section>
            </form>
        </section>
    </div>
    <script type="application/javascript" src="/js/validateFormHeavyValues.js"></script>
    <script type="application/javascript" src="/js/validateFormHeavyInputs.js"></script>
    <script src="/js/redirectView.js"></script>
</body>
</html>
