<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar anjeo liviano</title>
    <meta name="description" content="Editar anjeo liviano">
    <link rel="stylesheet" href="/styles/editFormLight.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="header">
                <div class="orderInfo">
                    <table class="orderTable">
                        <thead>
                            <tr>
                                <th class="orderTitle">Pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="orderID"><%= orderNumber %></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="anjeoType">Editar anjeo liviano</h2>
            </section>
            <form class="form" action="/api/v1/orderActions/updateFormLight/<%= anjeoToEdit.anjeoLightID %>" method="POST" onsubmit="return validateFormValues()">
                <div class="fieldContainer">
                    <h3 class="fieldName">Color</h3>
                    <select class="input" name="color" id="color" required>
                      <option value="<%= anjeoToEdit.color %>" selected><%= anjeoToEdit.color %></option>
                      <option value="Analog">Anolog</option>
                      <option value="Blanco">Blanco</option>
                      <option value="Champaña">Champaña</option>
                      <option value="Natural">Natural</option>
                      <option value="Negro">Negro</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Perfil</h3>
                    <select class="input" name="perfil" id="perfil" required>
                      <option value="<%= anjeoToEdit.profileType %>" selected><%= anjeoToEdit.profileType %></option>
                      <option value="Doble">Doble</option>
                      <option value="Sencillo">Sencillo</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Tipo de apertura</h3>
                    <select class="input" name="apertura" id="apertura" required>
                      <option value="<%= anjeoToEdit.opening %>" selected><%= anjeoToEdit.opening %></option>
                      <option value="Cierre al centro">Cierre al centro</option>
                      <option value="Fijo">Fijo</option>
                      <option value="Fijo QP">Fijo QP</option>
                      <option value="Lateral">Lateral</option>
                      <option value="Tres naves">Tres naves</option>
                      <option value="Uno hala otro">Uno hala otro</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Lugar</h3>
                    <input class="input" name="lugar" id="lugar" type="text" value="<%= anjeoToEdit.place %>" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName" id="fieldName-1">Ancho</h3>
                    <input class="input" name="ancho" id="ancho" type="text" value="<%= anjeoToEdit.width %>" required>
                </div>
                <div class="fieldContainerOptional-1" id="fieldContainerOptional-1">
                  <h3 class="fieldName">Ancho 2</h3>
                  <input class="input" name="anchoOpcional" id="anchoOpcional" type="text" value="<%= anjeoToEdit.widthOptional %>">
              </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura</h3>
                    <input class="input" name="altura" id="altura" type="text" value="<%= anjeoToEdit.height %>" required>
                </div>
                <div class="fieldContainerGuide" id="fieldContainerGuide">
                    <h3 class="fieldName">guia</h3>
                    <input class="input" name="guia" id="guia" type="text" value="<%= anjeoToEdit.guide %>">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Instalación</h3>
                    <select class="input" name="instalacion" id="instalacion" required>
                      <option value="<%= anjeoToEdit.installation %>" selected><%= anjeoToEdit.installation %></option>
                      <option value="Externa">Externa</option>
                      <option value="Interna">Interna</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura divisor</h3>
                    <input class="input" name="alturaDivisor" id="alturaDivisor" type="text" value="<%= anjeoToEdit.divisorHigh %>">
                </div>
                <div class="fieldContainerOptional-2" id="fieldContainerOptional-2">
                  <h3 class="fieldName">Cantidad de divisores</h3>
                  <input class="input" name="cantidadDivisor" id="cantidadDivisor" type="number" max="10" value="<%= anjeoToEdit.divisorQuantity %>">
              </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Ángulo</h3>
                    <select class="input" name="angulo" id="angulo" required>
                      <option value="<%= anjeoToEdit.angle %>" selected><%= anjeoToEdit.angle %></option>
                      <option value="Inferior">Inferior</option>
                      <option value="Inferior y lateral">Inferior y lateral</option>
                      <option value="Lateral">Lateral</option>
                      <option value="Sin angulo">Sin angulo</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Notas</h3>
                    <input class="input" name="notas" id="notas" type="text" value="<%= anjeoToEdit.notes %>">
                </div>
                <div class="fieldContainerHidden" id="fieldContainerHidden">
                </div>
                <section class="optionsContainer">
                  <section class="errorContainer" id="errorContainer">
                      <div class="wrongData" id="wrongData">Datos incorrectos, por favor verifiquelos e inténtelo de nuevo</div>
                  </section>
                  <section class="bottonContainer">
                      <button class="botton" data-path="/api/v1/orderActions/listLight" onclick="redirect(this)">Regresar</button>
                      <button type="submit" class="botton">Guardar</button>
                  </section>
                </section>
            </form>
        </section>
    </div>
    <script type="application/javascript" src="/js/validateFormLightValues.js"></script>
    <script type="application/javascript" src="/js/validateFormLightInputs.js"></script>
    <script type="application/javascript" src="/js/validateFormLightInputsoptionals.js"></script>
    <script type="application/javascript" src="/js/redirectView.js"></script>
</body>
</html>
